/* pageProjects css code  */
.card-description {
  transition: all 0.6s;
  height: 10vh;
}

.card-description:hover {
  transform: translateY(-50%);
  height: 20vh;
}
.card-description > h2 > span {
  font-size: large;
  font-weight: bolder;
}

.back-light::after {
  display: block;
  position: relative;
  background: linear-gradient(180deg, #1a202c00 70%, #ffffff);
  width: 100vw;
  height: 60vh;
  content: ' ';
  backdrop-filter: blur(0.25px);
}

.back-dark::after {
  display: block;
  position: relative;
  background: linear-gradient(180deg, #1a202c00, #1a202c);
  width: 100vw;
  height: 60vh;
  content: ' ';
  backdrop-filter: blur(0.25px);
}

@media (orientation: portrait) {
  .back-light::after {
    display: block;
    position: relative;
    background: linear-gradient(180deg, #1a202c00 70%, #ffffff);
    width: 100vw;
    height: 100vh;
    content: ' ';
    backdrop-filter: blur(3px);
  }

  .back-dark::after {
    display: block;
    position: relative;
    background: linear-gradient(180deg, #1a202c00, #1a202c);
    width: 100vw;
    height: 100vh;
    content: ' ';
    backdrop-filter: blur(3px);
  }
}
